beautifulsoup4==4.12.2
bs4==0.0.1
pandas==1.5.3
pysrt==1.1.2
scikit-learn==1.2.1
spacy==3.5.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
streamlit==1.22.0
certifi==2022.12.7
charset-normalizer==3.1.0
idna==3.4
lxml==4.9.2
requests==2.29.0
soupsieve==2.4.1
urllib3==1.26.15
en-core-web-sm==3.5.0
wheel==0.38.4
setuptools==65.6.3
en-core-web-sm==3.5.0